@page "/pick-teams"
@inject NavigationManager NavigationManager
@inject SimulationContainer SimulationContainer;
@using System.Net.Http.Json
@inject HttpClient Http
@using CurlingSimulator




<h1 class='page-title pick-teams-title'>Pick Teams</h1>

<p class='pick-teams-text'>Pick @SimulationContainer.Tournament.NumberOfTeams</p>

<ul class='teams-list'>
    @if (SimulationContainer.Rankings != null){
        @foreach (var team in SimulationContainer.Rankings)
        {
            <li class='team-list-item'>
                <input type="checkbox" id="@team.rank" class='team-list-item-checkbox' @bind="team.selected" />
                <div class='team-list-item-background'></div>
                <label class="team-list-item-label" for="@team.rank"></label>
                <div class="team-list-item-location">
                    <img src="/images/locations/@(team.location).png" />
                </div>
                <div class="team-list-item-name">
                    Team @team.lastName
                </div>
                
            </li>
        }
    }
</ul>

<button class='done-button continue-button' @onclick="NavigateToSimulationResults">@simulateButtonText</button>

@code { 

    private string simulateButtonText 
    {
        get 
        {
            int numberOfSelectedTeams = GetNumberOfSelectedTeams();
            var simulateButtonText = "Simulate";
            if (numberOfSelectedTeams < SimulationContainer.Tournament.NumberOfTeams)
            {
                simulateButtonText = numberOfSelectedTeams + "/" + SimulationContainer.Tournament.NumberOfTeams;
            } 
            return simulateButtonText;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        if (SimulationContainer.Rankings == null)
        {
            SimulationContainer.Rankings = await Http.GetFromJsonAsync<List<TeamRanking>>("/json/rankings.json");
        }
    }
    private void NavigateToSimulationResults() 
    {
        if (GetNumberOfSelectedTeams() != SimulationContainer.Tournament.NumberOfTeams)
        {
            return;
        }
        RunTournament();
        NavigationManager.NavigateTo("simulation-results"); 
    }

    private int GetNumberOfSelectedTeams()
    {
        if (SimulationContainer.Rankings == null)
        {
            return 0;
        }
        int numberOfSelectedTeams = 0;
        foreach(var ranking in SimulationContainer.Rankings)
        {
            if (ranking.selected)
            {
                numberOfSelectedTeams++;
            }
        }
        return numberOfSelectedTeams;
    }

    protected void RunTournament()
    {
        if (SimulationContainer.State != SimulationState.NotStarted)
        {
            SimulationContainer.RestartTournament();
        }
        SimulationContainer.State = SimulationState.Running;
        foreach(var team in SimulationContainer.Rankings)
        {
            if (team.selected)
            {
                SimulationContainer.Tournament.AddTeam(new Team(team.lastName, null, team.rank));
            }
        }


        for (var i =0; i < 1; i++)
        {
            SimulationContainer.Tournament.Run();
        }
        SimulationContainer.State = SimulationState.Finished;
    }
}

