@page "/pick-teams"
@inject NavigationManager NavigationManager
@inject SimulationContainer SimulationContainer;
@using System.Net.Http.Json
@inject HttpClient Http
@using CurlingSimulator
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Newtonsoft.Json
@inject PageState PageState;


@if(SimulationContainer == null || SimulationContainer.State == SimulationState.Uninitialized){return;}


<h1 class='page-title pick-teams-title'>Pick Teams</h1>

<p class='pick-teams-text'>Pick @SimulationContainer?.Tournament?.NumberOfTeams</p>

<ul class='teams-list'>
    @if (SimulationContainer?.Rankings != null){
        @foreach (var team in SimulationContainer.Rankings)
        {
            <li class='team-list-item @(PickedEnoughTeams() ? "disabled" : "")'>
                <input type="checkbox" id="@team.id" class='team-list-item-checkbox' disabled='@(PickedEnoughTeams() && !team.selected ? "disabled" : null)' @onchange="@(e => UpdateSelectedTeamsCount(team, e.Value))" checked='@(team.selected ? "checked" : null)' />
                <div class='team-list-item-background'></div>
                <label class='team-list-item-label @(PickedEnoughTeams() && !team.selected ? "disabled" : "")' for="@team.id"></label>
                <div class="team-list-item-location">
                    <img src="/images/locations/@(team.countryImage)" />
                </div>
                <div class="team-list-item-name">
                    Team @team.lastName
                </div>
                <div class="team-list-item-fake-checkbox"></div>
                
            </li>
        }
    }
</ul>

<button class='done-button continue-button @(PickedEnoughTeams() ? "ready" : "")' @onclick="NavigateToSimulationResults">@SimulateButtonText</button>

@code { 

    int selectedTeamsCount {get;set;} = 0;

    private string SimulateButtonText 
    {
        get 
        {
            int numberOfSelectedTeams = GetNumberOfSelectedTeams();
            var simulateButtonText = "Simulate";
            if (numberOfSelectedTeams < SimulationContainer?.Tournament?.NumberOfTeams)
            {
                simulateButtonText = numberOfSelectedTeams + "/" + SimulationContainer.Tournament.NumberOfTeams + " Teams";
            } 
            return simulateButtonText;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        if (SimulationContainer.State == SimulationState.Uninitialized)
        {
            var simulationContainerString = await localStorage.GetItemAsStringAsync("SimulationContainer");
            var simulationContainerClone = JsonConvert.DeserializeObject<SimulationContainer>(simulationContainerString);
            SimulationContainer.SetState(simulationContainerClone);
        }
        if (SimulationContainer != null && SimulationContainer.Rankings == null)
        {
            SimulationContainer.Rankings = await Http.GetFromJsonAsync<List<TeamRanking>>(GetJSONPath(SimulationContainer));
        }
        selectedTeamsCount = GetNumberOfSelectedTeams(false);
        await Task.Delay(100);
        PageState.SetState(LoadingState.Finished, null);
    }

    private string GetJSONPath(SimulationContainer simulationContainer)
    {
        if (simulationContainer.TournamentType == TournamentType.Worlds)
        {
            if (simulationContainer.Gender == Gender.Male)
            {
                return "/json/rankings-worlds-men.json";
            }
            else if (simulationContainer.Gender == Gender.Female)
            {
                return "/json/rankings-worlds-women.json";
            }
        }
        return "/json/rankings.json";
    }

    private void UpdateSelectedTeamsCount(TeamRanking team, object checkedValue)
    {

        if ((bool)checkedValue)
        {
            team.selected = true;
            selectedTeamsCount++;
        }
        else 
        {
            team.selected = false;
            selectedTeamsCount--;
        }
    }
    private async void NavigateToSimulationResults() 
    {
        if (GetNumberOfSelectedTeams() != SimulationContainer.Tournament.NumberOfTeams)
        {
            return;
        }
        PageState.SetState(LoadingState.Loading, "Simulating tournament...");
        await Task.Delay(4000);
        RunTournament();
        await localStorage.SetItemAsync("SimulationContainer", JsonConvert.SerializeObject(SimulationContainer));
        NavigationManager.NavigateTo("simulation-results"); 
    }

    private int GetNumberOfSelectedTeams(bool useCache = true)
    {
        if (useCache)
        {
            return selectedTeamsCount;
        }

        int numberOfSelectedTeams = 0;
        foreach(var ranking in SimulationContainer.Rankings)
        {
            if (ranking.selected)
            {
                numberOfSelectedTeams++;
            }
        }
        return numberOfSelectedTeams;
    }

    private bool PickedEnoughTeams(){
        return GetNumberOfSelectedTeams() == SimulationContainer?.Tournament?.NumberOfTeams;
    }

    protected void RunTournament()
    {
        if (SimulationContainer.State != SimulationState.Initialized)
        {
            SimulationContainer.RestartOrInitTournament();
        }
        SimulationContainer.State = SimulationState.Running;
        foreach(var team in SimulationContainer.Rankings)
        {
            if (team.selected)
            {
                SimulationContainer.Tournament.AddTeam(new Team(team.lastName, null, team.rank, team.location, team.countryImage));
            }
        }


        SimulationContainer.Tournament.Run();

        SimulationContainer.State = SimulationState.Finished;
    }
}

