@page "/simulation-results"
@inject SimulationContainer State;
@using CurlingSimulator 


<h1 class='page-title simulation-results-title'>Simulation Results</h1>

<h3 class='round-robin-title results-title'>Round Robin</h3>
<table class='round-robin-table'>
    <tr>
        <th>Team</th>
        <th>W</th>
        <th>L</th>
        <th>LSD</th>
    </tr>
@foreach (var team in State.Tournament.GetTeamsSortedByRoundRobin())
{
    <tr>
        <td>@team.Name</td>
        <td>@team.RoundRobinRecord.Wins</td>
        <td>@team.RoundRobinRecord.Losses</td>
        <td>@team.LsdTotal</td>
    </tr>
}     
</table>

<h3 class='playoffs-title results-title'>Playoffs</h3>
@if (State.Tournament.TournamentType == TournamentType.Worlds){
 
    <div class='quarter-final-round'>
        @foreach (var game in GetRoundOneGames())
        {
            <div class="game">
                <div class='home-team team-name'>
                    @game.HomeTeam.Name
                </div>
                <div class='away-team team-name'>
                    @game.AwayTeam.Name
                </div>
            </div>
        }
    </div>
    <div class='semi-final-round'>
        @foreach (var game in GetRoundTwoGames())
        {
            <div class="game">
                <div class='home-team team-name'>
                    @game.HomeTeam.Name
                </div>
                <div class='away-team team-name'>
                    @game.AwayTeam.Name
                </div>
            </div>
        }
    </div>
    <div class='final-round'>
        @foreach (var game in GetFinal())
        {
            <div class="game">
                <div class='home-team team-name'>
                    @game.HomeTeam.Name
                </div>
                <div class='away-team team-name'>
                    @game.AwayTeam.Name
                </div>
            </div>
        }
    </div>
    <div class='bronze-round'>
        @foreach (var game in GetFinal())
        {
            <div class="game">
                <div class='home-team team-name'>
                    @game.HomeTeam.Name
                </div>
                <div class='away-team team-name'>
                    @game.AwayTeam.Name
                </div>
            </div>
        }
    </div>
}

@code 
{

        public List<Game> GetRoundOneGames()
        {
            var quartersGames = State.Tournament.PlayoffResults.ListOfGameRounds[PlayoffRoundType.Quarters];
            return quartersGames;
        }

        public List<Game> GetRoundTwoGames()
        {
            var semisGames = State.Tournament.PlayoffResults.ListOfGameRounds[PlayoffRoundType.Semis];
            return semisGames;
        }

        public List<Game> GetFinal()
        {
            var finalGame = State.Tournament.PlayoffResults.ListOfGameRounds[PlayoffRoundType.Finals];
            return finalGame;
        }

        public List<Game> GetBronze()
        {
            var bronzeGame = State.Tournament.PlayoffResults.ListOfGameRounds[PlayoffRoundType.Bronze];
            return bronzeGame;
        }
}


